html, body, section {
  width: 100%;
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4d4d4d;
}
nav {
margin: 0 0 35px 0;
}
.box-img-container {
  background-image: url("../img/food1.jpeg");
  background-attachment: fixed;
  background-size: cover;
}
nav .jumbotron {
  padding: 15px;
}
.jumbotron {
  margin: 0px;
  padding:30px;
}
h1 {
  margin: 0;
  color: white;
  font-weight: normal;
  font-size: 45px;
  text-shadow: 1px 1px black;
  padding: 0 0 0 15px;
}
h2{
  text-align: center;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: white;
}
h3 {
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px black;
  padding: 0 15px;
}
.signUp {
  text-decoration: underline;
  font-style: italic;
  color: white;
}
.signUpBtn {
  background-color: #FF5A5F;
}
.signUpBtn:hover, .browseRecipeBtn:hover, .feedbackBtn:hover, .shareRecipeBtn:hover{
  opacity: .8;
}
.browseRecipeBtn {
  background-color: #FF9200; /*great yellow color #EEEC49*/
}
.feedbackBtn {
  background-color: #4CB0BB ;
}
.shareRecipeBtn {
  background-color: #454B55;
}
a:hover{
  text-decoration: none;
}
